.daisy{
  transition: opacity 2s;
}
 path { transition: fill 4s ease; }
.white {
  fill: red;
  transition: fill 2s;

}

.black {
    fill: green;
    transition: fill 5s;
}

.dead {
    opacity: 0.5;
    r: 40;
    transition: r 5s;
    transition: opacity 20s;
}
